FIX=no
IbLoginId=${TWS_USERID}
IbPassword=${TWS_PASSWORD}
FIXLoginId=
FIXPassword=
SecondFactorDevice=
ExitAfterSecondFactorAuthenticationTimeout=no
SecondFactorAuthenticationExitInterval=
TradingMode=${TRADING_MODE}
AcceptNonBrokerageAccountWarning=yes

# Increased timeout - very important
LoginDialogDisplayTimeout=180

IbDir=/root/Jts
StoreSettingsOnServer=
MinimizeMainWindow=no
ExistingSessionDetectedAction=primary

# Important: Match the port in docker-compose.yml
OverrideTwsApiPort=4001

ReadOnlyLogin=no
ReadOnlyApi=${READ_ONLY_API}
AcceptBidAskLastSizeDisplayUpdateNotification=accept
SendMarketDataInLotsForUSstocks=
IbAutoClosedown=yes
ClosedownAt=
AcceptIncomingConnectionAction=reject
AllowBlindTrading=no
SaveTwsSettingsAt=
DismissPasswordExpiryWarning=yes
DismissNSEComplianceNotice=yes
ControlFrom=
BindAddress=
CommandPrompt=
SuppressInfoMessages=yes
LogStructureScope=known
LogStructureWhen=never
